<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Opportunity</title>
    <link rel="stylesheet" href="/static/apply_form.css">
    <script>
        function displayPopup() {
            alert("Your application has been submitted successfully!");
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#apply-for-opportunity').submit(function (event) {
                event.preventDefault();
                var name = $('#name').val();
                var resumeLink = $('#resumeLink').val();

                var postData = {
                    name: encodeURIComponent(name),
                    resume: encodeURIComponent(resumeLink)
                };

                $.ajax({
                    url: "http://localhost:5000/apply_opportunity",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(postData),
                    success: function (data, status) {
                        if (status == "success") {
                            alert("Resume submitted successfully.");
                        } else {
                            alert("Resume submission failed.");
                        }
                    }
                });
            });
        });
    </script>
    
</head>

<body>

    <div class="box">
        <h3>Applying for Opportunity - {{ opportunity_id }}</h3>
        <form action="{{ url_for('apply_opportunity') }}" method="post" enctype="multipart/form-data" onsubmit="displayPopup()">
            <input type="hidden" name="opportunity_id" value="{{ opportunity_id }}">
            <input type="hidden" name="student_id" value="{{ student_id }}">

            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" placeholder="Enter Your Name" class="input-box" required>

            <label for="resume">Upload Resume</label><br>
            <input type="text" name="resume" placeholder="Enter resume link" id="resume" class="input-box" required>
            <button type="submit"  class="btn">Submit Application</button>
        </form>
    </div>
</body>

</html>
